name: Lint

on:
  pull_request_target:
    branches:
      - master

jobs:
  luacheck:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          ref: ${{ github.event.pull_request.head.sha }}
      - uses: nebularg/actions-luacheck@v1
        with:
          args: --no-color
